In [1]:
import pandas as pd

In [3]:
# Ruta al archivo CSV (aj√∫stala si tu archivo est√° en otra carpeta)
csv_path = "train.csv"

# Leer el archivo CSV
df = pd.read_csv(csv_path)

In [4]:
# Mostrar las primeras filas
print("üîç Primeras filas del archivo :")
print(df.head())

üîç Primeras filas del archivo :
       ID  PERIODO         ESTU_PRGM_ACADEMICO ESTU_PRGM_DEPARTAMENTO  \
0  904256    20212                  ENFERMERIA                 BOGOT√Å
1  645256    20212                     DERECHO              ATLANTICO
2  308367    20203       MERCADEO Y PUBLICIDAD                 BOGOT√Å
3  470353    20195  ADMINISTRACION DE EMPRESAS              SANTANDER
4  989032    20212                  PSICOLOGIA              ANTIOQUIA

             ESTU_VALORMATRICULAUNIVERSIDAD ESTU_HORASSEMANATRABAJA  \
0  Entre 5.5 millones y menos de 7 millones       Menos de 10 horas
1  Entre 2.5 millones y menos de 4 millones                       0
2  Entre 2.5 millones y menos de 4 millones         M√°s de 30 horas
3  Entre 4 millones y menos de 5.5 millones                       0
4  Entre 2.5 millones y menos de 4 millones     Entre 21 y 30 horas

  FAMI_ESTRATOVIVIENDA FAMI_TIENEINTERNET                 FAMI_EDUCACIONPADRE  \
0            Estrato 3                 Si    T√©cnica o tecnol√≥gica incompleta
1            Estrato 3                 No      T√©cnica o tecnol√≥gica completa
2            Estrato 3                 Si  Secundaria (Bachillerato) completa
3            Estrato 4                 Si                             No sabe
4            Estrato 3                 Si                   Primaria completa

  FAMI_TIENELAVADORA  ... ESTU_PRIVADO_LIBERTAD ESTU_PAGOMATRICULAPROPIO  \
0                 Si  ...                     N                       No
1                 Si  ...                     N                       No
2                 Si  ...                     N                       No
3                 Si  ...                     N                       No
4                 Si  ...                     N                       No

  FAMI_TIENECOMPUTADOR FAMI_TIENEINTERNET.1  \
0                   Si                   Si
1                   Si                   No
2                   No                   Si
3                   Si                   Si
4                   Si                   Si

                  FAMI_EDUCACIONMADRE RENDIMIENTO_GLOBAL coef_1  coef_2  \
0                           Postgrado         medio-alto  0.322   0.208
1    T√©cnica o tecnol√≥gica incompleta               bajo  0.311   0.215
2  Secundaria (Bachillerato) completa               bajo  0.297   0.214
3  Secundaria (Bachillerato) completa               alto  0.485   0.172
4                   Primaria completa         medio-bajo  0.316   0.232

   coef_3  coef_4
0   0.310   0.267
1   0.292   0.264
2   0.305   0.264
3   0.252   0.190
4   0.285   0.294

[5 rows x 21 columns]

In [5]:
print("\nüîπ Info del dataset:")
df.info()

üîπ Info del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              692500 non-null  int64
 1   PERIODO                         692500 non-null  int64
 2   ESTU_PRGM_ACADEMICO             692500 non-null  object
 3   ESTU_PRGM_DEPARTAMENTO          692500 non-null  object
 4   ESTU_VALORMATRICULAUNIVERSIDAD  686213 non-null  object
 5   ESTU_HORASSEMANATRABAJA         661643 non-null  object
 6   FAMI_ESTRATOVIVIENDA            660363 non-null  object
 7   FAMI_TIENEINTERNET              665871 non-null  object
 8   FAMI_EDUCACIONPADRE             669322 non-null  object
 9   FAMI_TIENELAVADORA              652727 non-null  object
 10  FAMI_TIENEAUTOMOVIL             648877 non-null  object
 11  ESTU_PRIVADO_LIBERTAD           692500 non-null  object
 12  ESTU_PAGOMATRICULAPROPIO        686002 non-null  object
 13  FAMI_TIENECOMPUTADOR            654397 non-null  object
 14  FAMI_TIENEINTERNET.1            665871 non-null  object
 15  FAMI_EDUCACIONMADRE             668836 non-null  object
 16  RENDIMIENTO_GLOBAL              692500 non-null  object
 17  coef_1                          692500 non-null  float64
 18  coef_2                          692500 non-null  float64
 19  coef_3                          692500 non-null  float64
 20  coef_4                          692500 non-null  float64
dtypes: float64(4), int64(2), object(15)
memory usage: 111.0+ MB